<nav class="nav">
  <div class="nav__left">
    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Books</a>
    <a
      href="/admin/add-book"
      class="<%= path === '/admin/add-book' ? 'active' : ''%>"
      >Add Books</a
    >
  </div>
  <div class="logo">
    <img src="/index/img/logo.png" alt="logo" />
  </div>
  <div class="nav__right">
    <a href="#">Login</a>
    <a href="#">Sign Up</a>
  </div>
</nav>
